/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background: linear-gradient(90deg, #6b2d2d, #a30000);
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
}

/* Seção Sabores */
.sabores {
    padding: 20px;
    text-align: center;
}

.sabores h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* Cards de trufas */
.card {
    background: #fff8f8;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 15px;
    margin: 15px auto;
    max-width: 350px;
    display: inline-block;
    vertical-align: top;
}

.img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.img-container:hover img{
    transform: scale(1.2);
}

/* Título do sabor */
.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

/* Botão de pedido */
.btn-sabor {
    display: inline-block;
    background: #a30000;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-sabor:hover {
    background: #6b2d2d;
}

.banner-promocao {
    margin-top: 50px;
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(90deg, #a30000, #6b2d2d);
    color: white;
}

.banner-promocao h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.banner-promocao p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-banner {
    background: white;
    color: #a30000;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-banner:hover {
    background: #ffd6d6;
}

/* Layout responsivo */
@media (min-width: 500px) {
    .card {
        width: 50%; /* dois cards por linha em tablets */
        margin: 15px 2.5%;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 30%; /* três cards por linha em desktops */
        margin: 15px 1.66%;
    }
}